*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
}
#nav{
    height: 11%;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}
#nav1{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
}
#nav1 img{
    margin-left: 17px;
    height:65px;
}
#nav1 img:hover{
    opacity: 60%;
    cursor: pointer;
}
#nav1 h4{
    text-transform: capitalize;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: rgb(116, 114,114 );
}
#nav1 h4:hover{
    color: #000;
}
#nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(116, 114,114 );
    
}
#nav2 button{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color:#fff;
    cursor: pointer;
    font-weight: 300;
    margin-right: 10px;
    padding: 8px 12px;
    color: rgb(116, 114,114 );;
}

#nav2 #btn2{
    padding: 12px 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    outline: none;
    background-color: #ea4c89;
}
#nav2 button:hover{
    color: #000;
}
#nav2 i:hover{
    color: #000;
}
#nav2 i{
    cursor: pointer;    
    font-size: 20px;
    margin-right: 20px;
    font-weight: 900;
}
#content{
    height: 80%;
    overflow: hidden;
    width: 100%;
    background-color: aqua;
    position: relative;
}
#content video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#typo{
    position:absolute;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    background-color: #000000ab;
    top: 0;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#options{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
#options h4{
    margin: 0 12px;
    font-size: 17px;
    font-weight: 300;
    background-color: #00000044;
    border: none;
    padding: 14px 19px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}
#options h4:hover{
    color: #000;
    background-color: #fff;
    transition: all ease-out .5s;
}
#options #dis{
    color: #000;
    font-weight:600 ;
    background-color: #fff;
}
h1{
    background-color: transparent;
    font-size: 35px;
    text-align: center;
    width: 30%;
}
#typo h3{
    /* background-color: red; */
    width: 49%;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}
#typo input{
    width: 40%;
    height: 10%;
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 15px;   
}
#bot{
    display: flex;
    align-items: center;
    justify-content:center;
}
#bot h5,h4{
    margin: 2px 12px;
    font-weight: 300;
}
#bot h4{
    border: #fff solid 1px;
    outline: none;
    border-radius: 30px;
    padding: 3px 9px ;
    cursor: pointer;
}
#typo i{
    position: absolute;
    font-size: 19px;
    color:#999;
    top :69.8%;
    left: 31.3%;
}
#bottom{
    height: 80%;
    width: 100%;
    /* background-color: #000; */
    padding: 60px;
}
.elem{
    margin: 10px;
    display: inline-block;
    height: 250px;
    width: 325px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border: none;

    border-radius: 10px;
}
.elem img{
    object-fit: cover;
    height: 100%;
    width: 100%;   
    z-index: -1;
    position: absolute;
}
.in{
    color: #fff;
    transition: all ease .7s;
    font-family: gilroy;
    width: 100%;
    height: 30%;
    background:linear-gradient(transparent,#000000b5);
    position: absolute;
    bottom: -30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:14px ;
    font-weight: 900;
}
.in h4{
    width: 55%;
}
.elem video{
    height: 100%;
    width:100% ;
    overflow:hidden;

}
.in i{ 
    margin: 0 -12px 0 0;
    border:none ;
    font-size: 18px;
    padding: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: grey;
}
.elem:hover{
    cursor: pointer;
}
.elem:hover .in{
    bottom: 0;
}
    
    